[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pep8 = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
mysql-python = "==1.2.5"
psycopg2 = "*"
flask-migrate = "*"
flask-script = "*"

[requires]
python_version = "3.7"
